.app{'ng-app' => 'viewApp', 'ng-controller' => 'ViewCtrl'}
  %img.animate-show{'ng-src' => '{{pic.src}}', 'ng-class' => "{true: 'mirror', false: ''}[pic.mirror]", 'ng-repeat' => 'pic in pics', 'ng-show' => 'pic.visible'}

  .app-body
    .header.right.clear
      Chad & Hilary Are Getting Married!
      %span.glyphicon.glyphicon-heart.smaller

    .info-box.right.clear
      .small-header.right.clear
        June 7th, 2014
        %span.glyphicon.glyphicon-calendar

      .small-header.right.clear
        5:00pm @ Fossil Trace Golf Course
        %span.glyphicon.glyphicon-time

      .small-header.right.clear
        Golden, Colorado
        %span.glyphicon.glyphicon-map-marker

    .info-box.right.clear
      %a.small-header.gray.right.clear{href: '#', 'data-toggle' => "modal", 'data-target' => "#registry"} Registry

      %a.small-header.gray.right.clear{href: '#', 'data-toggle' => "modal", 'data-target' => "#directions"} Directions

      %a.small-header.gray.right.clear{href: '#', 'data-toggle' => "modal", 'data-target' => "#info"} Hotel Information

      / %a.small-header.gray.right.clear{href: '#', 'data-toggle' => "modal", 'data-target' => "#story"} Our Story

#registry.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"} &times;
        %h4.modal-title Our Registry
      .modal-body

        %p We are registered at the following stores:
        %p
          %a{href: 'http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=10868534&pwsurl='} Bed, Bath & Beyond Registry
        %p
          %a{href: 'http://www.crateandbarrel.com/Gift-Registry/Hilary-Stamp-and-Chad-Mckenna/r5139709'} Crate & Barrel Registry
        %p
          %a{href: 'http://www.rei.com/GiftRegistryDetails/GR52098581'} REI Registry
        %p
          Since we are travelling, we would greatly appreciate if you would mail any gifts to the following address:
          %p{style: 'padding-left: 20px'}
            %b
              Mr. and Mrs. Chad McKenna
              %br
              4703 Braeburn Drive
              %br
              Bellaire, TX 77401
        %p
          If you would like to give money towards our honeymoon in Cancun, Mexico, we would also greatly appreciate it! (Please make the check out to Chad McKenna)
        %hr
        %h4
          You can also donate on our behalf
        %p
          The following are two organizations that we love and support: 
        %p
          %a{href: 'http://agapewebsite.org/get-involved/give/'} Agape International
        %p
          %a{href: 'https://www.water.cc/donate'} Living Water International
      .modal-footer
        %button.btn.btn-default{type: "button", 'data-dismiss' => "modal"} Close

#directions.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"} &times;
        %h4.modal-title Directions
      .modal-body{style: 'height: 500px'}
        %p
          %b
            Three Tomatoes Bar and Grill at Fossil Trace
          %br
          3050 Illinois St.
          %br
          Golden, CO 80401
        #fossil-trace-map{style: "width: 558px; height: 400px"}
      .modal-footer
        %button.btn.btn-default{type: "button", 'data-dismiss' => "modal"} Close

#info.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"} &times;
        %h4.modal-title Hotel Information
      .modal-body
        %p
          %b
            Hotels located in Downtown Golden
        %p
          %a{href: 'http://www.thegoldenhotel.com/accommodations'} Golden Hotel in Downtown Golden
        %p
          %a{href: 'http://www.tablemountaininn.com/'} Table Mountain Inn in Downtown Golden
      .modal-footer
        %button.btn.btn-default{type: "button", 'data-dismiss' => "modal"} Close

#story.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"} &times;
        %h4.modal-title Our Story
      .modal-body
        %p
          Coming soon!
      .modal-footer
        %button.btn.btn-default{type: "button", 'data-dismiss' => "modal"} Close
